.sidebar .inner {
  padding: 20px 40px 40px;
}
.injected .rst-versions {
  left: 0;
  bottom: 0;
  width: 340px;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.68);
  background-color: #f7f7f7;
}
.injected .rst-versions .rst-current-version {
  text-align: right;
  background-color: #eee;
}

.injected .rst-versions .fa-book {
  float: left;
}

.injected .rst-versions .rst-current-version .fa,
.injected .rst-versions .rst-other-versions dd a {
  color: rgba(0, 0, 0, 0.68);
}

.injected .rst-versions .rst-other-versions hr {
  border-color: #ddd;
}

.injected .rst-versions .rst-current-version,
.injected .rst-versions .rst-other-versions dd a:hover {
  color: #3E7FCB;
}

@media (max-width: 960px) {
  .injected .rst-versions {
    transform: translate3d(-340px, 0, 0);
    transition: transform 0.2s ease;
  }
  .expand .injected .rst-versions {
    transform: translate3d(0, 0, 0);
  }
}
