.ethical-fixedfooter { display:none }
.fund{
  z-index: 1;
  position: relative;
  bottom: 0;
  right: 0;
  float: right;
  padding: 0 0 20px 30px;
  width: 130px;
}
.fund a { border:0 }
#carbonads span {
  display: block;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img img {
  display: block;
  width: 130px;
}

#carbonads .carbon-text {
  display: block;
  margin-top: 4px;
  font-size: 13px;
  text-align: left;
}

#carbonads .carbon-poweredby {
  color: #aaa;
  font-size: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: normal;
}
