::selection {
  color: white;
  background-color: #3E7FCB;
}
a:hover,
.yue a:hover,
.site-head a:hover,
.sidebar a:hover {
  color: #3E7FCB;
  border-color: #3E7FCB;
}
.button:hover {
  background-color: #3E7FCB;
}
.highlighted {
  background-color: #3E7FCB;
}
.sponsors {
  background: rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin: 20px 0;
  border-radius: 4px;
}
.sponsors img {
  width: 48px;
  vertical-align: middle;
}
.sponsors a.sponsors-image {
  float: left;
  border-bottom: none;
}
.sponsors-text {
  overflow: hidden;
  padding-left: 10px;
}
.sponsors-text a {
  border-color: #3E7FCB;
}
